$G0: #30B639;
$G1: #0B5710;
$G2: #52DB5B;
$G3: #9EF2A3;

$B0: #3B41A1; //Blue */
$B1: #13164D;
$B2: #5E64CC;
$B3: #A6A9EC;

$Y0: #E8BB3D; //Yellow */
$Y1: #6B4F00;
$Y2: #FFD55F;
$Y3: #FFE8A6;

$R0: #E8423D; //Red */
$R1: #6F110E;
$R2: #FF635F;
$R3: #FFA9A6;

$W0: #000000; //Grey */
$W1: #555555;
$W2: #D5D6D5;
$W3: #FFFFFF;

#eastsidehead{
    color: rgb(90, 48, 168); 
    font-style: italic;
    font-size: 20pt;
}

#chardesc{
    font-weight: bold;
    color: black;
}

#navDropdown {
    position: relative;
    /* containing block for positioning */
    display: block;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 65px 0 0;
  }

a#black:hover{
    color:$W1;
    background-color: $W2;
    border: 1px solid $W0;
}
a#red:hover{
    color: $R1;
    background-color: $R3;
    border: 1px solid $R0;
}

a#yellow:hover{
    color: $Y1;
    background-color: $Y3;
    border: 1px solid $Y0;
}

a#green:hover{
    color: $G1;
    background-color: $G3;
    border: 1px solid $G0;
}

a#blue:hover{
    color: $B1;
    background-color: $B3;
    border: 1px solid $B0;
}

.heading{
    text-align: center;
    color: $W0;
    font-family: sans-serif;
}

.margin{
    margin: 0 50px;
}

.text{
    font-family: serif;
    font-size: 13pt;
    color: $W1;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 200px;
    border: 1px solid $W2;
}
  
div.gallery:hover {
    border: 1px solid $W0;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

.nameCap{
    color: $W0;
    text-align: center;
    font-size: 14pt; 
    font-weight: bold; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.roleCap{
    color: grey;
    text-align: center;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
  
@import "file:///Users/ChloeYu/bootstrap-4.2.1/scss/bootstrap.scss"