{% extends "layout.html" %}

{% block title %}
    Board Members
{% endblock %}

{% block heading %}
    Meet <span style="color:#E8423D">A</span>
    <span style="color:#3B41A1">S</span>
    <span style="color:#E8BB3D">A</span>
    <span style="color:#30B639">P's</span>
    Executive Board
{% endblock %}

{% block body %}
<div class="row" style="justify-content: center;">
    <div class="column">
        <div class="container">
            <img class="pic" src="{{ url_for('static', filename='board/julia.jpg') }}">
            <div class="overlay">
                <div class="overlay-text">Julia Riew<br>Co-President</div>
            </div>
        </div><br>
        <div class="container">
            <img class="pic" src="{{ url_for('static', filename='board/phiroze.jpg') }}">
            <div class="overlay">
                <div class="overlay-text">Phiroze Parasnis<br>Outreach Coordinator</div>
            </div>
        </div>
    </div>
    <div class="column">
            <div class="container">
                <img class="pic" src="{{ url_for('static', filename='board/eric.jpg') }}">
                <div class="overlay">
                    <div class="overlay-text">Eric Cheng<br>Co-President</div>
                </div>
            </div><br>
            <div class="container">
                <img class="pic" src="{{ url_for('static', filename='board/jennifer.jpg') }}">
                <div class="overlay">
                    <div class="overlay-text">Jennifer Lee<br>Secretary</div>
                </div>
            </div>
    </div>
    <div class="column">
            <div class="container">
                <img class="pic" src="{{ url_for('static', filename='board/chloe.jpg') }}">
                <div class="overlay">
                    <div class="overlay-text">Chloe Yu<br>Vice President</div>
                </div>
            </div><br>
            <div class="container">
                <img class="pic" src="{{ url_for('static', filename='board/yena.jpg') }}">
                <div class="overlay">
                    <div class="overlay-text">Yena Cho<br>Treasurer</div>
                </div>
            </div>
    </div>
</div>
{% endblock %}