{% extends "layout.html" %}

{% block title %}
    The East Side Character Descriptions
{% endblock %}

{% block heading %}
    <span style="text-decoration: underline"><i>The East Side</i> Character Descriptions</span><br><br>
{% endblock %}

{% block body %}
    <div class="margin text">
        <p>
            <span id="chardesc">Ryan:</span> 17, m. An unsatisfied 17-year-old. Used to attend a private school in Brooklyn, 
            now attends public school in the city and works for his mother’s restaurant in Chinatown. 
            Kind of your basic Asian guy - not too bro-ish, not too artsy, but a little of both. 
        </p>
        <p>
            <span id="chardesc">Vera:</span> 17, f. His precocious best friend from SAT prep (since 7th grade, of course. We start early). 
            Confident, but semi-closeted about her sexuality. Funny. Attends the academy (Windsor) 
            that Ryan used to go to. 
        </p>
        <p>
            <span id="chardesc">Patrick:</span> 17, m. Ryan’s other best friend. Upbeat, a little dramatic, very hardworking. A big nerd. 
            Also attends Windsor Academy. 
        </p>
        <p>
            <span id="chardesc">Ms. Chen:</span> 53, f. Ryan’s mother. A struggling restaurant owner and single mom. 
            Worrisome, strong-willed, tired.
        </p>
        <p>
            <span id="chardesc">Michelle:</span> 17, f. A non-Asian girl with a taste for Asian food. Cheerful, bright, and curious, but guarded. 
            Craves approval. 
        </p>
        <p>
            <span id="chardesc">Mrs. A:</span> Vera’s mother. Very religious, proper, a bit snobby, traditional. “Helicopter mom.” 
        </p>
        <p>
            <span id="chardesc">Mrs. B/Student 1:</span> Patrick’s mother. Youthful in spirit, a little more “Americanized” than her peers. 
            “Cool mom.”
        </p>
        <p>
            <span id="chardesc">Mrs. C/Student 2:</span> Another friend of Ms. Chen’s and a mother of Windsor Academy students. “Normal mom.” 
        </p>
        <p>
            <span id="chardesc">Everyman: </span> Every adult man in the show, played by one person. (Hippie, Teacher, Boba guy, 
            Suited man, Well-dressed gentleman, etc.)
        </p>
    </div>
{% endblock %}